tna_Library_Analysis/example_data/Genscript_lookup.csv
tna_Library_Analysis/example_data/genscript_NGS.csv
tna_Library_Analysis/example_data/genscript_NGS.xlsx
tna_Library_Analysis/extra_code.ipynb
D_radiodurans.gb
E_coli.gbff
motif_hits.csv
motif_hits1.csv
Paenibacillus_sp.gbff
test.ipynb
trash.py
.DS_Store
.gitignore
